.AppContainer{
  background-color: #000;
  height: 80vh;
  width: 30%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  .bottomContainer{
    .sliderContainer{
      width: 90%;
      margin: 0 auto;
    }
    .slippageToleranceValue{
      .headerContainer{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
      }
      .slippageValues{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .customOption{
          input{
            color: #fff;
            background-color: transparent;
            outline: none;
            border: none;
            border: 1px solid #fff;
          }
        }
      }
  }
}
}

.orderButton {
  background-color: salmon;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 17px;
  font-weight: 700;
  width:70%;
  margin-top: 3rem;
  transition: 0.4s ease-in-out 0s;
  &:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }
}